<?xml version="1.0"?>
<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->

<CodeTalkConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CodeTalkKey>1</CodeTalkKey>
  <CodeTalkModifierKey>Control</CodeTalkModifierKey>
	
	<!-- Config for get functions command : Invoked by Ctrl+Tilde, Ctlr+F -->
  <GetFunctionsCommand CommandKey="F" CommandModifierKey="Control" />

	<!-- Config for get summary command : Invoked by Ctrl+Tilde, Ctlr+M -->
  <GetSummaryCommand CommandKey="M" CommandModifierKey="Control" />

	<!-- Config for get errors command : Invoked by Ctrl+Tilde, Ctlr+E -->
  <GetErrorsCommand CommandKey="E" CommandModifierKey="Control" />

	<!-- Config for skip comments command : Invoked by Ctrl+Tilde, Ctlr+C -->
  <SkipCommentCommand CommandKey="C" CommandModifierKey="Control" />

	<!-- Config for get context command : Invoked by Ctrl+Tilde, Ctlr+G -->
  <GetContextCommand CommandKey="G" CommandModifierKey="Control" />

	<!-- Config for move to context command : Invoked by Ctrl+Tilde, Ctlr+J -->
  <MoveToContextCommand CommandKey="J" CommandModifierKey="Control" />

	<!-- Config for create breakpoint command : Invoked by Ctrl+Tilde, Ctlr+B -->
  <CreateBreakPointCommand CommandKey="B" CommandModifierKey="Control" />
  
  <!-- Config for set profilepoints command : Invoked by Ctrl+Tilde, Ctlr+K -->
  <SetProfilepointsCommand CommandKey="K" CommandModifierKey="Control" />
  
</CodeTalkConfig>